<script lang="ts">
  import CharacterList from "../components/CharacterList.svelte";
  import Spinner from "../components/dumb/Spinner.svelte";

  import { fetchCharacters } from "../stores/characters";

  const [data, loading, error] = fetchCharacters();
</script>

<div class="flex justify-center">
  {#if $loading}
    <Spinner />
  {:else if $error}
    Error: {$error}
  {:else}
    <CharacterList characters={$data} />
  {/if}
</div>
