<script lang="ts">
  import Star from "./dumb/Star.svelte";

  export let name;
  export let description;
  export let thumbnail;

  function onSelected(event) {
    console.log(event);
  }
</script>

<!-- src/components/ character.svelt -->
<div
  class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
>
  <img
    class="rounded-t-lg border-b-8 border-red-700"
    src={thumbnail.standart}
    alt=""
  />
  <div class="p-5">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {name}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {description}
    </p>
    <div class="flex justify-end">
      <Star on:selected={onSelected} />
    </div>
  </div>
</div>
