<script lang="ts">
  import Character from "./Character.svelte";

  export let characters;
</script>

<main>
  <div class="grid grid-cols-4 gap-4">
    {#each characters as character (character.id)}
      <Character {...character} />
    {/each}
  </div>
</main>
