<script lang="ts">
  import CharacterView from "./views/CharactersView.svelte";
</script>

<main>
  <div class="flex justify-center">
    <CharacterView />
  </div>
</main>

<style lang="postcss" global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
